 #mouth{
   border: 2px solid rgb(245 163 0);
   height: 500px;
   width: 500px;
   margin: 50px auto;
   border-radius: 50%;
   background-color:rgb(245 163 0) ;
   padding: 8px;
 }
 #eye1{
  border: 1px solid rgb(0, 0, 0);
   border-radius: 50%;
  height: 80px;
   width: 80px;
   display: inline-block;
   margin: 66px;
   margin-right: 100PX;
   margin-top: 150px;
   background-color: black;
 }
 #smile{
  border: 1px solid rgb(0, 0, 0);
  height: 80px;
   width: 250px;
   margin-left: 113px;
   margin-top:54px ;
   background-color: brown;
   border-radius: 0px 0px 110px 110px;
 }