 h2{
  color: rgb(180, 97, 1);
  font-size: 50px;
 }
 #pets{
  display: flex;
 justify-content: space-evenly;
 }
 p{
  font-size: 25px;
 }
 h1{
  font-size: 70px;

 }
 span{
  color: rgb(141 95 1);
 }
 h3{
  font-weight: 1000;
  font-size: 30px;
 }
 img{
  height: 406px;
  width: 583px;
  border-radius: 30px;
 }
  .card{
    border: 3px solid black;
    border-radius: 30px;
    margin: 0px 175px 0px;
    padding: 15px;

    display: inline-block;
  }