<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTING</title>
</head>
<body>
    <h1>TESTING view</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident at unde, quibusdam aspernatur sit voluptates deserunt. Rem expedita consequuntur quibusdam molestiae id! Delectus tempore aliquam autem possimus et corporis tenetur.</p>
</body>
</html>