body{
     font-family: "Montserrat", sans-serif;
     margin: 0;
     background-color: #000000;
     color: #ffffff;
     overflow: hidden;
}
.main{
     display: flex;
     height: 100vh;
     padding: 0.5rem;
}    
.sidebar{
         background-color: black;
     width: 320px;
     border-radius: 1rem;
     margin-right: 0.4rem;
}
a{
          text-decoration: none;
          color: white;
          margin: 5px;
}
.nav {
     background-color: rgb(18, 18, 18);
     border-radius: 1rem;
     display: flex;
     flex-direction: column;
     height: 100px;
     padding: 0.5rem 0.75rem;
      
}
.nav-option{
     line-height: 2.5rem;
     opacity: 0.7;
     padding: 0.4rem 0.75rem;
}
.nav-option:hover{
     opacity: 1;
}
.nav-option i{
     font-size: 1.5rem;

}
.nav-option a{
     font-size: 1rem;
     margin-left: 1rem;

}
.main-content{
     background-color: rgb(25, 25, 25);
     flex: 1;
     border-radius: 1rem;
     overflow: auto;
     padding: 0 1.5rem 0 1.5rem;

}
.music-player{
     background-color: black;
     position: fixed;
     bottom: 0px;
     width: 100%;
     height: 72px;
}
.library{
    background-color: rgb(18, 18, 18);
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
     padding: 0.4rem 0.75rem;

}
.library-option img{
     height: 1.5rem;
     width: 1.5rem;
}
.library-option .a{
     margin: 1.25rem;
}
 .options{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.icons{
     display: flex;
     font-size: 1.25rem;
}
 .icons i{
     opacity: 0.7;
     margin-right: 1rem;
 }
 .icons i:hover{
     opacity: 1;
 }
 .lib-box{
     height: 7rem;
     background-color:rgb(36 36 36);
     border-radius: 0.8rem;
     padding: 1rem 1.25rem;
     margin: 0.75rem 0 0.75rem 0rem;

 }
 .box-p1{
     font-size: 1rem;
     padding-bottom: 0.2rem;
     font-weight: 700;
     margin-bottom: 0.7rem;
 }
 .box-p2{
     font-size: 0.8125rem;
     opacity: 0.9;
     font-weight: 500;
     margin-bottom: 1rem;
 }
 .badge{
     background-color: white;
     border: none;
     border-radius: 7rem ;
     padding: 0.25rem 1rem;
     font-size: 0.875rem;
     font-weight: 700;
     margin-top: 0.5rem;
     height: 2.2rem;
     width: fit-content;
     transition: 0.1s;
 }
 .badge:hover{
           height: 2.3 rem;
            font-size: 0.95rem;
 }
 .sticky-nav{
     position: sticky;
     background-color: rgb(25, 25, 25);
     top: 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0.4rem 0 0.4rem 0;
     z-index: 10;
 }
 .sticky-nav-icons img{
     height: 2rem;
     width: 2rem;
   
 }
 .sticky-nav-icons{
     margin-left: 0.75rem;
 }
 .sticky-nav-option{
     justify-content: center;
     align-items: center;
 }
.nav-item{
     margin-right: 0.9rem;
}
  .dark-badge{
     background-color: black;
     color: rgb(197, 195, 195);
  }
  .badge-1:hover{
           height: 2.3 rem;
            font-size: 0.95rem;
 }
 @media (max-width:1000px){
     .hide{
          display: none;
     }
 }
 .cards-container{
     display: flex;
     flex-wrap: wrap;
      
 }
 .card{
     background-color: #111010;
     width: 150px;
     border-radius: 1rem;
     padding: 1rem ;
     margin-left: 1.5rem;
     margin-bottom: 1.5rem;
 }
 .card-img{
     border-radius: 0.5rem;
     width: 100%;

 }
 .card-title{
     font-weight: 700;
     margin: 6px 0 6px 0;
 }
 .card-info{
     color: rgb(122 122 122);
     font-size: 0.85rem;
     font-weight: 600;
 }
 .footer{
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .line{
     height:50%;
     width: 90%;
     border-top: 1px solid white;
     opacity: 0.4;
 }
 .music-player{
     display: flex;
      align-items: center;
     justify-content: space-between;

 }
 .album{
     width: 25%;
     display: flex;
     align-items: center;
 }
 .player{
     width: 50%;
 }
  .controls{
     /* width: 25%; */
     display: flex;
     align-items: center;
     /* justify-content: left; */
  }
  .player-controls{
      display: flex;
      align-items: center;
     justify-content:center;

  }
  .player-controls-icon{
     height:1rem;
     margin-right: 1rem;
     opacity: 0.7;
  }
  .player-controls-icon:hover{
     opacity: 1;
  }
  .pause{
     opacity: 1;
       height:1.9rem;
  }
  .playback-bar{
     display: flex;
     align-items: center;
     justify-content: center;
  }
  .progress-bar{
     width: 50%;
     appearance: none;
     background-color: transparent;
     cursor: pointer;
  }
  .progress-bar::-webkit-slider-runnable-track{
     background-color: #ddd;
     border-radius: 100px;
     height: 0.2rem;
  }
  .progress-bar::-webkit-slider-thumb{
     appearance: none;
     height: 1rem;
     width:1rem;
     background-color: #1DB954;
     border-radius: 50%;
     margin-top: -6px;
  }
  .album-image{
      height: 3rem;
     width:3rem;
     border-radius: 0.4rem;
  }
  .text{
     padding-left: 6px;
     padding-right: 6.5rem;
  }
  .album-title{
     font-weight: 700;
     margin-bottom: 8px;
  }
  .album-detail{
     font-size:12px;
     opacity: 0.5;
  }
  .album-control{
     display: flex;
      justify-content: space-between;
       align-items: end;
    
  }
  .album-control img{
     width:2rem;
     opacity: 0.5;

  }
  .heart{
          margin-bottom: 3px;
          margin-right: 3px;
  }
   .album-control img:hover{
     opacity: 1;
   }
   .controls-icons{
     display: flex;
     
   }
   .controls img{
     width: 2rem ;
     height: 2rem ;
     /* margin-right: 8px; */
   }
    .sound-bar img{
      width: 2rem ;
     height: 2rem ;
     margin-right: 8px;
    }
    .sound-bar{
     display: flex;
    }
    .sbar{
     width: 50%;
     appearance: none;
     background-color: transparent;
     cursor: pointer;
    }
    .sbar::-webkit-slider-runnable-track{
     background-color: #ddd;
     border-radius: 100px;
     height: 0.2rem;
    }
     .sbar::-webkit-slider-thumb{
     appearance: none;
     height: 1rem;
     width:1rem;
     background-color: #1DB954;
     border-radius: 50%;
     margin-top: -6px;
  }
 


 
 
